<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object detection</title>
</head>

<body>


    <form class="" method="POST" enctype=multipart/form-data name="form1">
        <h1 class="">Upload any image or video</h1>
        <input type="file" name="file" class="" id="inputfile">
        <br />
        <button class="" type="submit">Upload</button>
    </form>

    <br>
    <h1>Detection Result</h1>
    
    {% if image_path %}
    <img src="{{ url_for('display', filename = image_path) }}"
    {% else %}
        <p>No image detected yet.</p>
    {% endif %}

</body>

</html>